#gou-menubar .navbar-inner {
  border-radius: 0; 
}

#gou-menubar .brand {
  color: white;
  padding-bottom: 0;
  margin-left: 8px;
  text-decoration: none;
}

.big-text {
  width: 100%;
  height: 8em;
}